<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <Platform>AnyCPU</Platform>
    </PropertyGroup>

    <Import Project="RPRacing.Web.csproj" />

    <Target Name='Deploy' DependsOnTargets='Build;Package' >
        <Exec Command='"C:\Program Files\IIS\Microsoft Web Deploy V2\msdeploy.exe" -source:contentpath="$(teamcity_build_checkoutDir)\src\app\RPRacing.Web\obj\Release\Package\PackageTmp\" -dest:contentpath="c:\@Websites\rpracing\www",includeAcls=false,computername="https://softia.se:8172/msdeploy.axd?Site=rpracing",authType=Basic,userName=CT7409\Krezni,password=qw56weS -allowUntrusted -verb:sync' />
    </Target>
</Project>